$primary-normal:#124559;
$primary-dark: #162d37;
$primary-light: #306676;

$second-normal:#2b2d42;
$second-dark: #343A40;
$second-light:#ADB5BD;

$black-normal: #161a1d;
$black-dark: #0b090a;
$black-light: #495057;

$white-normal:#ffffff;
$white-dark:#f5f3f4;
$white-light:#d3d3d3;

$blue-normal:#0a2472;
$blue-dark:#001c55;
$blue-light:#0e6ba8;

